[Desktop Entry]
Categories=GNOME;Development;
Comment=DAE Tools Plotter
Exec=python -m daetools.dae_plotter.plotter
GenericName=DAE Tools Plotter
Icon=daetools-48x48
MimeType=
Name=daetools Plotter
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
