; DAE Tools .info config file
daetools
{
  version "1.0.6"
  license "GNU GPL 3"
  
  core
  {
    eventTolerance 1E-7
  }

  activity
  {
    timeHorizon 100
    reportingInterval 1
    printInfo true

    objFunctionAbsoluteTolerance 1E-8
    constraintsAbsoluteTolerance 1E-8

    ipopt_print_level            0
    ipopt_tol                    1E-6
    ipopt_linear_solver          "mumps"
    ipopt_mu_strategy            "adaptive"
    ipopt_hessian_approximation  "limited-memory"
  }

  solver
  {
    relativeTolerance 1E-5
    nextTimeAfterReinitialization 1E-2
    
    idasSensitivityMethod "Simultaneous"
    idasErrorControl false
  }

  datareporting
  {
    tcpipDataReceiverAddress "127.0.0.1"
    tcpipDataReceiverPort 50000
  }

}
